{% extends "layout.html" %}

{% block body %}

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">What's your ideal neighborhood?</h1>
        <p class="lead">Hopcity is designed to help you differentiate between neighborhoods.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-default transparent-btn">Learn more</a>
        </p>
      </div>

      <div class="bottom-search-area hide-sm">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-1">
            <input type="text" class="form-control" placeholder="Which Neighborhood are moving from?">
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-4 col-lg-offset-2">
            <input type="text" class="form-control" placeholder="Which neighborhood are you moving to?">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <span class="input-group-btn">
        <p class="lead">
          <a href="#" class="btn btn-lg btn-primary">Let's match!</a>
        </p>
      </span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
